fastapi>=0.110.0
uvicorn>=0.27.1
gunicorn>=21.2.0
qdrant-client>=1.9.0
fastembed>=0.4.2
groq>=0.5.0
python-multipart>=0.0.9
pydantic-settings>=2.2.1
feedparser>=6.0.10
beautifulsoup4>=4.12.3
requests>=2.31.0
python-dotenv>=1.0.1
rank-bm25>=0.2.2
APScheduler>=3.10.4
asyncssh>=2.14.2
