fastapi>=0.110.0
uvicorn>=0.27.1
qdrant-client>=1.9.0
fastembed>=0.3.0
groq>=0.5.0
python-multipart>=0.0.9
pydantic-settings>=2.2.1
feedparser>=6.0.10
beautifulsoup4>=4.12.3
requests>=2.31.0
python-dotenv>=1.0.1
rank-bm25>=0.2.2
sentence-transformers>=3.0.0
APScheduler>=3.10.4
tiktoken>=0.7.0
